# RWI-GEO-RED Panel Data Preprocessing: Household Purchasing Power (HK)

## About the Dataset
Holds real estate listings for the 15 bigggest cities in germany from 2007 to 2024



### Dataset: CampusFile_WK_cities.csv

### Data Structure
- **Temporal Coverage**: Panel data across multiple years
- **Geographic Coverage**: 15 largest cities in Germany

## Setup: Load Required Libraries

In [56]:
library(dplyr)
library(ggplot2)
library(tidyr)

# Load Hauskauf data

In [57]:
raw_data <- read.csv('data/RWI-GEO-RED/panel-15-largest-cities-germany/CampusFile_WK_cities.csv')

In [58]:
df <- raw_data
total_rows_in_raw_data = nrow(df)
total_rows_in_raw_data

[1] 828135

# Preprocess the data

In [59]:
summary(df)

      obid                plz          kaufpreis         heizkosten
 Min.   :  6745100   Min.   :   -9   Min.   :  18800   Min.   : -9.000
 1st Qu.: 60035976   1st Qu.:13127   1st Qu.: 120000   1st Qu.: -9.000
 Median : 84545422   Median :40474   Median : 227000   Median : -8.000
 Mean   : 89317259   Mean   :38731   Mean   : 290077   Mean   : -8.482
 3rd Qu.:117020217   3rd Qu.:60322   3rd Qu.: 389000   3rd Qu.: -8.000
 Max.   :156377603   Max.   :98000   Max.   :1699000   Max.   :300.000
    baujahr     letzte_modernisierung  wohnflaeche     grundstuecksflaeche
 Min.   :1500   Min.   :  -9.0        Min.   : 24.01   Min.   :-8
 1st Qu.:1950   1st Qu.:  -9.0        1st Qu.: 59.65   1st Qu.:-8
 Median :1972   Median :  -9.0        Median : 77.00   Median :-8
 Mean   :1968   Mean   : 355.1        Mean   : 83.34   Mean   :-8
 3rd Qu.:2000   3rd Qu.:  -9.0        3rd Qu.:100.70   3rd Qu.:-8
 Max.   :2024   Max.   :2018.0        Max.   :260.00   Max.   :-8
  nutzflaeche           etage          anzahletagen      zimmeranzahl
 Min.   :  -9.000   Min.   :-9.0000   Min.   :-9.0000   Min.   :-5.000
 1st Qu.:  -9.000   1st Qu.:-9.0000   1st Qu.:-9.0000   1st Qu.: 2.000
 Median :  -9.000   Median : 1.0000   Median : 3.0000   Median : 3.000
 Mean   :   4.329   Mean   :-0.8651   Mean   :-0.3857   Mean   : 2.871
 3rd Qu.:   4.000   3rd Qu.: 3.0000   3rd Qu.: 4.0000   3rd Qu.: 3.500
 Max.   :1000.000   Max.   :45.0000   Max.   :45.0000   Max.   :10.000
  nebenraeume      schlafzimmer     badezimmer    parkplatzpreis
 Min.   :-9.000   Min.   :-9.00   Min.   :-9.00   Min.   :   -9
 1st Qu.:-9.000   1st Qu.:-9.00   1st Qu.:-9.00   1st Qu.:   -9
 Median :-6.000   Median : 1.00   Median : 1.00   Median :   -9
 Mean   :-7.489   Mean   :-2.24   Mean   :-1.67   Mean   : 4571
 3rd Qu.:-6.000   3rd Qu.: 2.00   3rd Qu.: 1.00   3rd Qu.:    0
 Max.   : 1.000   Max.   :23.00   Max.   : 5.00   Max.   :50000
    wohngeld        ev_kennwert     laufzeittage     immobilientyp
 Min.   :   -9.0   Min.   : -9.0   Min.   :   0.00   Min.   :3
 1st Qu.:   -9.0   1st Qu.: -9.0   1st Qu.:   8.00   1st Qu.:3
 Median :  100.0   Median : -9.0   Median :  27.00   Median :3
 Mean   :  130.5   Mean   : 44.5   Mean   :  53.52   Mean   :3
 3rd Qu.:  240.0   3rd Qu.:103.9   3rd Qu.:  60.00   3rd Qu.:3
 Max.   :50000.0   Max.   :590.2   Max.   :4531.00   Max.   :3
     aufzug           balkon        denkmalobjekt     einbaukueche
 Min.   :-9.000   Min.   :-9.0000   Min.   :-9.000   Min.   :-9.00
 1st Qu.: 0.000   1st Qu.: 0.0000   1st Qu.: 0.000   1st Qu.: 0.00
 Median : 0.000   Median : 1.0000   Median : 0.000   Median : 0.00
 Mean   :-1.157   Mean   : 0.1795   Mean   :-1.525   Mean   :-1.32
 3rd Qu.: 1.000   3rd Qu.: 1.0000   3rd Qu.: 0.000   3rd Qu.: 1.00
 Max.   : 1.000   Max.   : 1.0000   Max.   : 1.000   Max.   : 1.00
 einliegerwohnung ev_wwenthalten      gaestewc          garten
 Min.   :-8       Min.   :-9.000   Min.   :-9.000   Min.   :-9.000
 1st Qu.:-8       1st Qu.:-9.000   1st Qu.: 0.000   1st Qu.: 0.000
 Median :-8       Median :-9.000   Median : 0.000   Median : 0.000
 Mean   :-8       Mean   :-6.189   Mean   :-1.157   Mean   :-1.868
 3rd Qu.:-8       3rd Qu.: 0.000   3rd Qu.: 0.000   3rd Qu.: 0.000
 Max.   :-8       Max.   : 1.000   Max.   : 1.000   Max.   : 1.000
     keller          parkplatz      rollstuhlgerecht    bauphase
 Min.   :-9.0000   Min.   :-9.000   Min.   :-9.000   Min.   :-8
 1st Qu.: 0.0000   1st Qu.:-9.000   1st Qu.:-9.000   1st Qu.:-8
 Median : 1.0000   Median :-9.000   Median :-9.000   Median :-8
 Mean   :-0.5838   Mean   :-6.383   Mean   :-7.721   Mean   :-8
 3rd Qu.: 1.0000   3rd Qu.: 0.000   3rd Qu.:-9.000   3rd Qu.:-8
 Max.   : 1.0000   Max.   : 1.000   Max.   : 1.000   Max.   :-8
  ausstattung     energieeffizienzklasse energieausweistyp haustier_erlaubt
 Min.   :-7.000   Min.   :-9.000         Min.   :-7.000    Min.   :-8
 1st Qu.:-7.000   1st Qu.:-7.000         1st Qu.:-7.000    1st Qu.:-8
 Median :-7.000   Median :-7.000         Median :-7.000    Median :-8
 Mean   :-2.494   Mean   :-5.943         Mean   :-3.228    Mean   :-8
 3rd Qu.: 3.000   3rd Qu.:-7.000         3rd Qu.: 2.000    3rd Qu.:-8
 Max.   : 4.000   Max.   : 9.000         Max.   : 2.000    Max.   :-8
  heizungsart     kategorie_Wohnung objektzustand      ergg_1km
 Min.   :-7.000   Min.   :-9.0000   Min.   :-7.000   Length:828135
 1st Qu.: 3.000   1st Qu.:-7.0000   1st Qu.:-7.000   Class :character
 Median :13.000   Median : 3.0000   Median : 3.000   Mode  :character
 Mean   : 6.258   Mean   : 0.4081   Mean   : 1.473
 3rd Qu.:13.000   3rd Qu.: 3.0000   3rd Qu.: 7.000
 Max.   :13.000   Max.   :11.0000   Max.   :10.000
      blid           gid2019            kid2019           bef1
 Min.   : 1.000   Min.   : 2000000   Min.   : 2000   Min.   :-9.000
 1st Qu.: 5.000   1st Qu.: 5112000   1st Qu.: 5112   1st Qu.:-9.000
 Median : 6.000   Median : 6412000   Median : 6412   Median :-9.000
 Mean   : 7.439   Mean   : 7668236   Mean   : 7668   Mean   :-4.713
 3rd Qu.:11.000   3rd Qu.:11000000   3rd Qu.:11000   3rd Qu.: 1.000
 Max.   :14.000   Max.   :14713000   Max.   :14713   Max.   :27.000
      bef2            bef10         bef9         bef8         bef7
 Min.   :-9.000   Min.   :-9   Min.   :-9   Min.   :-9   Min.   :-9
 1st Qu.:-9.000   1st Qu.:-9   1st Qu.:-9   1st Qu.:-9   1st Qu.:-9
 Median :-9.000   Median :-9   Median :-9   Median :-9   Median :-9
 Mean   :-8.909   Mean   :-9   Mean   :-9   Mean   :-9   Mean   :-9
 3rd Qu.:-9.000   3rd Qu.:-9   3rd Qu.:-9   3rd Qu.:-9   3rd Qu.:-9
 Max.   :27.000   Max.   :-9   Max.   :-9   Max.   :-9   Max.   :-9
      bef6         bef5         bef4             bef3           anbieter
 Min.   :-9   Min.   :-9   Min.   :-9.000   Min.   :-9.000   Min.   :-9.000
 1st Qu.:-9   1st Qu.:-9   1st Qu.:-9.000   1st Qu.:-9.000   1st Qu.:-9.000
 Median :-9   Median :-9   Median :-9.000   Median :-9.000   Median :-9.000
 Mean   :-9   Mean   :-9   Mean   :-8.997   Mean   :-8.909   Mean   :-5.387
 3rd Qu.:-9   3rd Qu.:-9   3rd Qu.:-9.000   3rd Qu.:-9.000   3rd Qu.: 2.000
 Max.   : 8   Max.   :24   Max.   :26.000   Max.   :27.000   Max.   : 9.000
     spell        dataset_version        adat               edat
 Min.   : 1.000   Length:828135      Length:828135      Length:828135
 1st Qu.: 1.000   Class :character   Class :character   Class :character
 Median : 1.000   Mode  :character   Mode  :character   Mode  :character
 Mean   : 1.507
 3rd Qu.: 2.000
 Max.   :52.000
   price_sqm
 Min.   :  429.8
 1st Qu.: 1756.8
 Median : 2901.2
 Mean   : 3386.7
 3rd Qu.: 4470.5
 Max.   :13042.8

## Range of the house inserate

In [60]:
# adat -> the date of the inserat
df %>%
    summarise(
        min_adat = min(as.Date(paste0(adat, "-01")), na.rm = TRUE),
        max_adat = max(as.Date(paste0(adat, "-01")), na.rm = TRUE)
    )

  min_adat   max_adat
1 2007-01-01 2024-12-01

data goes from 2007 to 2024

## Extract only berlin samples

We only want to createt a model of the berlin real estate listings

In [61]:
extract_berlin_samples <- function(source_df) {
    df_berlin <- subset(source_df, !is.na(plz) &
        as.integer(as.character(plz)) >= 10115 &
        as.integer(as.character(plz)) <= 14199)
    return (
        df_berlin
    )
}

In [62]:
dfb = extract_berlin_samples(df)

In [63]:
cat("Total rows in raw data:", total_rows_in_raw_data, "\n")
cat("Rows in Berlin sample:", nrow(dfb), "\n")
cat("Percentage of Berlin rows:", round(100 * nrow(dfb) / total_rows_in_raw_data, 2), "%\n")

Total rows in raw data: 828135
Rows in Berlin sample: 180409
Percentage of Berlin rows: 21.78 %

## Sentinel cleanup

The data is full of placeholder integer values that symbolise missing data

- -9 -> missing data
- -8 -> did not answer

etc ...
 
these need to be cleaned up

In [64]:
# util function for replacing sentinel values with NA
sentinels <- c(-9, -8, -7, -6, -5, -2)
replace_sentinels <- function(x, s = sentinels) {
  x[x %in% s] <- NA
  return (
    x
  )
}

In [65]:
c(colnames(df))

 [1] "obid"                   "plz"                    "kaufpreis"
 [4] "heizkosten"             "baujahr"                "letzte_modernisierung"
 [7] "wohnflaeche"            "grundstuecksflaeche"    "nutzflaeche"
[10] "etage"                  "anzahletagen"           "zimmeranzahl"
[13] "nebenraeume"            "schlafzimmer"           "badezimmer"
[16] "parkplatzpreis"         "wohngeld"               "ev_kennwert"
[19] "laufzeittage"           "immobilientyp"          "aufzug"
[22] "balkon"                 "denkmalobjekt"          "einbaukueche"
[25] "einliegerwohnung"       "ev_wwenthalten"         "gaestewc"
[28] "garten"                 "keller"                 "parkplatz"
[31] "rollstuhlgerecht"       "bauphase"               "ausstattung"
[34] "energieeffizienzklasse" "energieausweistyp"      "haustier_erlaubt"
[37] "heizungsart"            "kategorie_Wohnung"      "objektzustand"
[40] "ergg_1km"               "blid"                   "gid2019"
[43] "kid2019"                "bef1"                   "bef2"
[46] "bef10"                  "bef9"                   "bef8"
[49] "bef7"                   "bef6"                   "bef5"
[52] "bef4"                   "bef3"                   "anbieter"
[55] "spell"                  "dataset_version"        "adat"
[58] "edat"                   "price_sqm"

In [66]:
cols_with_sentinels <- c(colnames(df))
df[cols_with_sentinels] <- lapply(df[cols_with_sentinels], replace_sentinels)

## Datatypes: Factor columns

In [67]:
factor_cols <- c(
    "plz",
    "immobilientyp",
    "parkplatz",
    "balkon",
    "denkmalobjekt",
    "einbaukueche",
    "gaestewc",
    "garten",
    "keller",
    "rollstuhlgerecht",
    "ausstattung",
    "energieausweistyp",
    "kategorie_Wohnung",
    "dataset_version"
)
df[factor_cols] <- lapply((df[factor_cols]), as.factor)

## Special cases

- obid as character (object id)
- adata edat (start end of listing) need their information extracted from being a string "YYYY-MM"

In [68]:
df$obid <- as.character(df$obid)

## Feature ADAT EDAT: Start of listing end of listing

Here i need to extract the date information from the string and ill also add a time on the market feature


 
adat and edat stand for start and end of listing

These columns are sometimes formatted as `"YYYY-MM"` (year and month only) and sometimes as `"YYYY-MM-DD"` (full date).  

For consistency and analysis, we extract the year and month components, convert them to proper date objects, and calculate the "time on market"

In [69]:
extract_year_month <- function(date_str) {
    # Handles "YYYY-MM" and "YYYY-MM-DD", and converts factors to character
    if (is.na(date_str)) return(list(year=NA_integer_, month=NA_integer_))
    
    # Convert to character if it's a factor
    date_str <- as.character(date_str)
    
    parts <- unlist(strsplit(date_str, "-"))
    if (length(parts) >= 2) {
        year <- as.integer(parts[1])
        month <- as.integer(parts[2])
        return(list(year=year, month=month))
    } else {
        return(list(year=NA_integer_, month=NA_integer_))
    }
}

In [70]:
# Check the format of adat and edat columns
cat("Class of adat:", class(df$adat), "\n")
cat("Class of edat:", class(df$edat), "\n")
cat("Sample adat values:\n")
head(df$adat, 10)
cat("\nSample edat values:\n")
head(df$edat, 10)

Class of adat: character
Class of edat: character
Sample adat values:

 [1] "2007-1"  "2007-9"  "2007-5"  "2007-5"  "2007-1"  "2007-5"  "2007-1"
 [8] "2007-11" "2007-1"  "2007-6"

Sample edat values:

 [1] "2007-4"  "2007-12" "2007-10" "2007-10" "2007-8"  "2007-10" "2007-1"
 [8] "2007-12" "2007-8"  "2007-6"

In [71]:
# Apply extract_year_month to adat and edat columns
adat_ym <- lapply(df$adat, extract_year_month)
df$listing_start_year <- sapply(adat_ym, function(x) x$year)
df$listing_start_month <- sapply(adat_ym, function(x) x$month)

edat_ym <- lapply(df$edat, extract_year_month)
df$listing_end_year <- sapply(edat_ym, function(x) x$year)
df$listing_end_month <- sapply(edat_ym, function(x) x$month)

In [72]:
# Calculate time on market in months
df$time_on_market_months <- (df$listing_end_year - df$listing_start_year) * 12 + (df$listing_end_month - df$listing_start_month)

In [73]:
df %>% select(adat, edat, listing_start_year, listing_start_month, listing_end_year, listing_end_month, time_on_market_months) %>% head(10)

   adat    edat    listing_start_year listing_start_month listing_end_year
1  2007-1  2007-4  2007                1                  2007
2  2007-9  2007-12 2007                9                  2007
3  2007-5  2007-10 2007                5                  2007
4  2007-5  2007-10 2007                5                  2007
5  2007-1  2007-8  2007                1                  2007
6  2007-5  2007-10 2007                5                  2007
7  2007-1  2007-1  2007                1                  2007
8  2007-11 2007-12 2007               11                  2007
9  2007-1  2007-8  2007                1                  2007
10 2007-6  2007-6  2007                6                  2007
   listing_end_month time_on_market_months
1   4                3
2  12                3
3  10                5
4  10                5
5   8                7
6  10                5
7   1                0
8  12                1
9   8                7
10  6                0

# Drop unneccessary columns

In [74]:
cols_to_drop = c(
    "grundstuecksflaeche", # all values are NA
    "einliegerwohnung", # all values are NA,
    "bef6", # only has about 10 rows with values
    "bef7","bef8","bef9","bef10", # no values in these columns,
    "haustier_erlaubt", # no values here
    "bauphase", # no values for wohnungen
    "nebenräume" # all values are 1 no information here
)
df <- df %>% select(-cols_to_drop)

ERROR: Error in `select()`:
! Can't select columns that don't exist.
✖ Column `nebenräume` doesn't exist.

# Result

We now have a preprocessed dataset of only berlin listings with less columns, removed sentinels and some basic feature cleanup

In [ ]:
summary(df)

     obid                plz           kaufpreis         heizkosten
 Length:828135      10245  :  6407   Min.   :  18800   Min.   :  0.00
 Class :character   10115  :  5936   1st Qu.: 120000   1st Qu.: 40.00
 Mode  :character   10247  :  5346   Median : 227000   Median : 60.00
                    50858  :  4466   Mean   : 290077   Mean   : 74.19
                    60486  :  4369   3rd Qu.: 389000   3rd Qu.: 94.50
                    (Other):801154   Max.   :1699000   Max.   :300.00
                    NA's   :   457                     NA's   :827988
    baujahr     letzte_modernisierung  wohnflaeche      nutzflaeche
 Min.   :1500   Min.   :1890          Min.   : 24.01   Min.   :   0.00
 1st Qu.:1950   1st Qu.:2005          1st Qu.: 59.65   1st Qu.:   6.00
 Median :1972   Median :2010          Median : 77.00   Median :  14.00
 Mean   :1968   Mean   :2008          Mean   : 83.34   Mean   :  39.95
 3rd Qu.:2000   3rd Qu.:2014          3rd Qu.:100.70   3rd Qu.:  64.96
 Max.   :2024   Max.   :2018          Max.   :260.00   Max.   :1000.00
                NA's   :678733                         NA's   :602660
     etage         anzahletagen     zimmeranzahl     nebenraeume
 Min.   :-1.000   Min.   : 0.000   Min.   : 0.000   Min.   :1
 1st Qu.: 1.000   1st Qu.: 3.000   1st Qu.: 2.000   1st Qu.:1
 Median : 2.000   Median : 4.000   Median : 3.000   Median :1
 Mean   : 2.301   Mean   : 4.222   Mean   : 2.873   Mean   :1
 3rd Qu.: 3.000   3rd Qu.: 5.000   3rd Qu.: 3.500   3rd Qu.:1
 Max.   :45.000   Max.   :45.000   Max.   :10.000   Max.   :1
 NA's   :232046   NA's   :288605   NA's   :161      NA's   :828115
  schlafzimmer      badezimmer     parkplatzpreis      wohngeld
 Min.   : 0.000   Min.   :0.00     Min.   :    0    Min.   :    0.0
 1st Qu.: 1.000   1st Qu.:1.00     1st Qu.:10000    1st Qu.:  176.0
 Median : 2.000   Median :1.00     Median :16800    Median :  235.0
 Mean   : 1.833   Mean   :1.21     Mean   :17726    Mean   :  260.6
 3rd Qu.: 2.000   3rd Qu.:1.00     3rd Qu.:25000    3rd Qu.:  311.0
 Max.   :23.000   Max.   :5.00     Max.   :50000    Max.   :50000.0
 NA's   :311411   NA's   :233603   NA's   :614260   NA's   :399709
  ev_kennwert      laufzeittage     immobilientyp     aufzug
 Min.   :  0.0    Min.   :   0.00   3:828135      Min.   :0.000
 1st Qu.: 79.6    1st Qu.:   8.00                 1st Qu.:0.000
 Median :114.0    Median :  27.00                 Median :0.000
 Mean   :116.2    Mean   :  53.52                 Mean   :0.444
 3rd Qu.:146.8    3rd Qu.:  60.00                 3rd Qu.:1.000
 Max.   :590.1    Max.   :4531.00                 Max.   :1.000
 NA's   :474261                                   NA's   :140454
  balkon       denkmalobjekt einbaukueche  ev_wwenthalten   gaestewc
 0   :159072   0   :647985   0   :386551   Min.   :0.00     0   :513034
 1   :617024   1   : 35829   1   :288126   1st Qu.:0.00     1   :187769
 NA's: 52039   NA's:144321   NA's:153458   Median :0.00     NA's:127332
                                           Mean   :0.25
                                           3rd Qu.:1.00
                                           Max.   :1.00
                                           NA's   :576553
  garten        keller       parkplatz     rollstuhlgerecht ausstattung
 0   :460628   0   :222461   0   : 13715   0   : 63101      1   : 13241
 1   :176069   1   :496760   1   :204396   1   : 49101      2   :139954
 NA's:191438   NA's:108914   NA's:610024   NA's:715933      3   :200898
                                                            4   : 32434
                                                            NA's:441608


 energieeffizienzklasse energieausweistyp  heizungsart     kategorie_Wohnung
 Min.   :1.00           1   :130216       Min.   : 1.00    3      :400946
 1st Qu.:3.00           2   :231301       1st Qu.: 5.00    1      : 67941
 Median :5.00           NA's:466618       Median :13.00    7      : 43599
 Mean   :4.42                             Mean   :10.05    4      : 20013
 3rd Qu.:6.00                             3rd Qu.:13.00    8      : 19260
 Max.   :9.00                             Max.   :13.00    (Other): 37872
 NA's   :743849                           NA's   :184013   NA's   :238504
 objektzustand      ergg_1km              blid           gid2019
 Min.   : 1.000   Length:828135      Min.   : 1.000   Min.   : 2000000
 1st Qu.: 2.000   Class :character   1st Qu.: 5.000   1st Qu.: 5112000
 Median : 5.000   Mode  :character   Median : 6.000   Median : 6412000
 Mean   : 4.658                      Mean   : 7.439   Mean   : 7668236
 3rd Qu.: 7.000                      3rd Qu.:11.000   3rd Qu.:11000000
 Max.   :10.000                      Max.   :14.000   Max.   :14713000
 NA's   :226203
    kid2019           bef1             bef2             bef5
 Min.   : 2000   Min.   : 1.0     Min.   : 2.00    Min.   : 2.00
 1st Qu.: 5112   1st Qu.: 5.0     1st Qu.: 5.00    1st Qu.: 4.00
 Median : 6412   Median : 5.0     Median : 5.00    Median : 7.50
 Mean   : 7668   Mean   : 5.2     Mean   : 6.52    Mean   : 7.75
 3rd Qu.:11000   3rd Qu.: 7.0     3rd Qu.: 8.00    3rd Qu.: 8.00
 Max.   :14713   Max.   :27.0     Max.   :27.00    Max.   :24.00
                 NA's   :578220   NA's   :823258   NA's   :828119
      bef4             bef3           anbieter          spell
 Min.   : 1.00    Min.   : 2.00    Min.   :1.00     Min.   : 1.000
 1st Qu.: 5.00    1st Qu.: 5.00    1st Qu.:2.00     1st Qu.: 1.000
 Median : 7.00    Median : 5.00    Median :2.00     Median : 1.000
 Mean   : 9.64    Mean   : 6.53    Mean   :2.35     Mean   : 1.507
 3rd Qu.:11.00    3rd Qu.: 7.00    3rd Qu.:2.00     3rd Qu.: 2.000
 Max.   :26.00    Max.   :27.00    Max.   :9.00     Max.   :52.000
 NA's   :827998   NA's   :823258   NA's   :564619
 dataset_version     adat               edat             price_sqm
 v12:828135      Length:828135      Length:828135      Min.   :  429.8
                 Class :character   Class :character   1st Qu.: 1756.8
                 Mode  :character   Mode  :character   Median : 2901.2
                                                       Mean   : 3386.7
                                                       3rd Qu.: 4470.5
                                                       Max.   :13042.8

 listing_start_year listing_start_month listing_end_year listing_end_month
 Min.   :2007       Min.   : 1.000      Min.   :2007     Min.   : 1.000
 1st Qu.:2011       1st Qu.: 3.000      1st Qu.:2011     1st Qu.: 4.000
 Median :2015       Median : 6.000      Median :2016     Median : 7.000
 Mean   :2015       Mean   : 6.402      Mean   :2016     Mean   : 6.822
 3rd Qu.:2020       3rd Qu.: 9.000      3rd Qu.:2020     3rd Qu.:10.000
 Max.   :2024       Max.   :12.000      Max.   :2024     Max.   :12.000

 time_on_market_months
 Min.   :  0.000
 1st Qu.:  0.000
 Median :  1.000
 Mean   :  1.789
 3rd Qu.:  2.000
 Max.   :148.000

In [75]:
write.csv(df, file = "panel-berlin-WK-preprocessed.csv", row.names = FALSE)